<div class="jumbotron">
    <h1> About Us</h1>
</div>  
<div class="aboutus">
    <div class="container">
        <h3>Our company information</h3>
        <hr>
        <div class="card card-body">
        <div class="col-md-12">            
            <h4 class="card-title">We Create, Design and Make it Real</h4>
            <p class="card-text">Nam tempor velit sed turpis imperdiet vestibulum. In mattis leo ut sapien euismod id feugiat mauris euismod. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Phasellus id nulla risus, vel tincidunt turpis. Aliquam a nulla mi, placerat blandit eros. </p>
            <p class="card-text">In neque lectus, lobortis a varius a, hendrerit eget dolor. Fusce scelerisque, sem ut viverra sollicitudin, est turpis blandit lacus,
            in pretium lectus sapien at est. 
            Integer pretium ipsum sit amet dui feugiat vitae dapibus odio eleifend.</p>
        </div>
         </div>
         </div>
         <br/>
        <div class="container">
            <div class="col-md-12">
                <div class="skill">
                 <h4>Our Skills</h4>              
                <hr>
                <div class="card card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                           </div>				
        </div>
    </div>
</div>
  
    <br/>
<div class="our-team">
    <div class="container">
        <h4>Our Team</h4>	
        <div class="row">
            <div class="col-md-4">                
                <div class="card">
                    <div class="card-body">
                         <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                         <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                         <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
