<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">First Logo</a>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/aboutus">About Us</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/crud/list">CRUD</a>
  </li>
  <li>
      <a class="nav-link" routerLink="/contactus">Contact Us</a>
    </li>
</ul>
</nav>
