<div class="jumbotron">
  <h1> Terms & Condition</h1>
</div>  
<div class="policy">
  <div class="container">
      <h3>Our Company Terms & Condition</h3>
      <hr>
    <div class="card card-body">
      <div class="col-md-12">            
          <h4 class="card-title">We Create, Design and Make it Real</h4>
          <p class="card-text">Nam tempor velit sed turpis imperdiet vestibulum. In mattis leo ut sapien euismod id feugiat mauris euismod. 
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          Phasellus id nulla risus, vel tincidunt turpis. Aliquam a nulla mi, placerat blandit eros. </p>
          <p class="card-text">In neque lectus, lobortis a varius a, hendrerit eget dolor. Fusce scelerisque, sem ut viverra sollicitudin, est turpis blandit lacus,
          in pretium lectus sapien at est. 
          Integer pretium ipsum sit amet dui feugiat vitae dapibus odio eleifend.</p>
      </div>
    </div>
  </div>
</div>